*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --bg-color: #ebf2fa;
    --main-color: #064789;
    --second-color: #427aa1;
    --text-color: #fff;
}
body{
    min-height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 200px;
}
h1{
    color: var(--main-color) ;
}
p{
    font-size: 20px;
}
img{
    width: 200px;
    height: 200px;
}
.btn-register {
    margin-top: 20px;
    color: var(--text-color);
    background-color: crimson;
    padding: 10px 60px;
    border-radius: 30px;
    transition: ease-in 1s;
    transform: translateX(3s);
}
.btn-register a{
color: var(--text-color);
}

.btn-register:hover {
   opacity: 0.8;
}
.btn-register a:hover{
  color: var(--main-color);
  transition: ease-in-out 0.8s;
}
